html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    position: relative;
}

input {
    font-size: 12px;
}

h1 {
    color: #fff;
    font-size: 22px;
    margin: 0 0 10px 0;
    text-align: center;
}

hr {
    background: #D0D7D9;
    height: 1px;
    margin: 20px 0 20px 0;
    border: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

#map {
    bottom:0px;
    height: 100%;
    left: 40px;
    position: absolute;
    right: 0px;
}

.options-box {
    background: linear-gradient(141deg, #005aff 0%, #001ba0 75%);
    height: 100%;
    line-height: 35px;
    padding: 0 10px 0 10px;
    text-align: left;
    width: 300px;
}

#locationInput {
    margin: 15px 5px 5px 20px;
    padding-left: 5px;
    width: 80%;
    height: 35px;
    font-size: 16px;
    font-weight: bold;
    color: #2b2b2b;
    border: none;
    -webkit-box-shadow: 2px 2px 5px #9D9D9D;
    outline: none;
}

.locations {
    list-style-type: none;
    margin-bottom: 0;
}
.options-box a {
    color: #fff;
}

.header__hamburger{
    margin-left: 100%;
    float: right;
    margin-bottom: 20px;
    text-align: right;
    font-size: 23px;
}

.options-box {
    z-index: 10;
    width: 320px;
    position: absolute;
    background-color: #fff;
    -webkit-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    transition: transform 0.3s ease;
}

.options-box.open {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

#search-nav {
    width: 280px;
    max-height: 549px;
    overflow: hidden;
}

#scroller {
    max-height: 480px;
    overflow: scroll;
    margin: 0 5px;
}

#infoWindow {
    max-height: 400px;
    max-width: 500px;
}

ul.wikiLinks li {
    margin-bottom: 4px;
    display: inline-block;
}

ul.wikiLinks a {
    color: #005aff;
    font-size: 14px;
    font-weight: 400;
    font-style: italic;
    padding: 5px;
}

ul.pictures {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
}

ul.pictures li {
    padding-right: 5px;
}

.thumbnails {
    height: 100px;
    width: 100px;
}

.locationTitle, h3 {
    color: #005aff;
}

@media only screen and (max-width: 750px) {
    #infoWindow {
        max-width: 300px;
    }

    ul.pictures {
        width: 240px;
    }

    ul.pictures li {
        padding-right: 15px;
        padding-bottom: 5px;
    }
}