/* OVERLAY removed */
@media only screen and (max-width: 960px) {
    .project {
        margin: 0 auto 25px auto;
        min-width: 320px;
        flex: 0 1 320px;
    }

    .overlay {
        position: relative;
        opacity: 1;
        background-color: transparent;
        -webkit-transition: none;
        transition: none;
    }

    .overlay a {
        text-decoration: underline;
        display: inline-block;
        color: #000;
        border: none;
        opacity: 1;
        -webkit-transition: none;
        transition: none;
        margin: auto;
        cursor: pointer;
    }
}

/* Changes in header */
@media only screen and (max-width: 640px) {
    .header_logo {
        height: 40px;
    }

    #user_info {
        padding-top: 15px;
    }
    
    #user_info h1 {
        font-size: 25px;
    }

    #user_info h4 {
        font-size: 12px;
    }
}

/* (Just in case) project size reduced */
@media only screen and (max-width: 350px) {
    .project {
        min-width: 100%;
    }
}
